@import '~src/assets/styles/shared';

.button {
  align-items: center;
  border-radius: $border-radius;
  border: 0; /* Remove default button styling */
  cursor: pointer;
  display: flex;
  font-family: $roboto;
  height: $input-size;
  justify-content: center;
  min-width: $input-size; /* Keep button width same or larger than height */
  outline: none; /* Remove default browser focus behaviour */
  padding: 0 8px;
  text-decoration: none; /* Remove default hyperlink decorations */
  transition: all $transition-speed ease-in-out;
  white-space: nowrap;

  /* Clear button without a background */
  &.clear {
    /* If not disabled, show hover/focus state */
    &:not(.disabled) {
      &:hover,
      &:focus {
        background: $light;
      }
    }
  }

  /* Light button with light background */
  &.light {
    background: $light;

    /* If not disabled, show hover/focus state */
    &:not(.disabled) {
      &:hover,
      &:focus {
        background: $gray;
      }
    }
  }

  /* If not disabled, show button with active state triggered */
  &:not(.disabled).active {
    &.clear,
    &.light {
      background: $primary;
      color: $white;
    }
  }

  /* Danger button with red background */
  &.danger {
    background: $red;
    color: $white;

    /* If not disabled, show hover/focus state */
    &:not(.disabled) {
      &:hover,
      &:focus {
        opacity: .5;
      }
    }
  }

  /* If disabled, show disabled button */
  &.disabled {
    opacity: .25;
  }
}