@import '~src/assets/styles/shared';

.button {
  align-items: center;
  border-radius: $border-radius;
  cursor: pointer;
  display: flex;
  font-family: $roboto;
  justify-content: center;
  outline: none; /* Remove default browser focus behaviour */
  padding: 0 8px;
  text-decoration: none; /* Remove default hyperlink decorations */
  transition: all $transition-speed ease-in-out;
  white-space: nowrap;

  /* If active, show click down animation */
  &:active {
    transform: translateY(2px);
  }

  /* MEDIUM size buttons */
  &.md {
    height: $input-size;
    min-width: $input-size; /* Allow button to grow */
  }

  /* SMALL size buttons */
  &.sm {
    height: $input-size-sm;
    min-width: $input-size-sm; /* Allow button to grow */
  }

  /* CLEAR button (If not disabled) */
  &.clear:not(.disabled) {
    &:hover,
    &:focus {
      background: $light;
    }
  }

  /* WHITE button */
  &.white {
    background: $white;

    /* Hover/focus state (If not disabled) */
    &:not(.disabled) {
      &:hover,
      &:focus {
        background: $gray;
      }
    }
  }

  /* LIGHT button */
  &.light {
    background: $light;

    /* Hover/focus state (If not disabled) */
    &:not(.disabled) {
      &:hover,
      &:focus {
        background: $gray;
      }
    }
  }

  /* ACTIVE state (If not disabled) */
  &:not(.disabled).active {
    &.clear,
    &.white,
    &.light {
      background: $primary;

      /* Hover/focus state */
      &:hover,
      &:focus {
        opacity: .5;
      }
    }
  }

  /* DANGER button */
  &.danger {
    background: $red;

    /* Hover/focus state (If not disabled) */
    &:not(.disabled) {
      &:hover,
      &:focus {
        opacity: .5;
      }
    }
  }

  /* DISABLED state */
  &.disabled {
    pointer-events: none; /* Disable pointer events */
    opacity: .25;
  }
}