@import '~src/assets/styles/media-queries';

#logo {
  --margin: 64px;
  cursor: pointer;
  left: var(--margin);
  position: absolute; /* Position at top of page and keep in place */
  top: var(--margin);
}

@include media-breakpoint-below(md) {
  #logo {
    --margin: 32px; /* Reduce logo margin on smaller screens */
  }
}