<!-- If has bookmarks, show -->
<!-- TODO: Implement staggered load animation -->
<div *ngIf="bookmarks?.length; else error"
     class="bookmarks-container">
  <app-bookmark *ngFor="let bookmark of pagination.pagedList"
                [bookmark]="bookmark"></app-bookmark>

  <!-- Paginator -->
  <app-paginator *ngIf="pagination"
                 [pagination]="pagination"
                 (pageChange)="getPagedList($event)"></app-paginator>
</div>

<!-- Else, show empty error message -->
<ng-template #error>
   <div class="error">No bookmarks found, add a new one to see it here!</div>
</ng-template>
