<div class="card">
  <div class="card-header">
      <h2>Add Bookmark</h2>

    <!-- Close Button -->
    <app-button type="white"
                size="sm"
                (clicked)="cancel()">
      <div content>
        <svg-icon src="assets/images/close.svg" class="display-flex"></svg-icon>
      </div>
    </app-button>
  </div>

  <!-- Bookmark Form -->
  <form [formGroup]="formGroup">
    <div class="field">
      <label for="name">Website Name</label>
      <input type="text"
             formControlName="name"
             id="name"
             placeholder="Website Name..."
             autocomplete="off"
             (keydown.enter)="submit()">
      <!-- TODO: Implement error message -->
    </div>

    <div class="field">
      <label for="url">URL</label>
      <input type="text"
             formControlName="url"
             id="url"
             placeholder="URL..."
             autocomplete="off"
             (keydown.enter)="submit()">
      <!-- TODO: Implement error message -->
    </div>

    <app-button type="clear"
                label="Add"
                [disabled]="formGroup.invalid"
                [active]="!formGroup.invalid"
                (clicked)="submit()">
    </app-button>
  </form>
</div>