@import '~src/assets/styles/variables';
@import '~src/assets/styles/media-queries';

:host {
  display: block;
  width: 100%;

  form {
    display: flex;
    align-items: flex-end;
    padding: 8px; /* Inner padding */

    > * {
      margin: 8px; /* Outer margin, with previous keeps 16px spacings */
    }

    .field {
      width: 100%;

      input {
        background: $white;
      }
    }
  }
}

@include media-breakpoint-below(md) {
  /* On smaller screens, stack content */
  form {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}