<a class="card">
  <div class="card-header">
    <h2>Add Bookmark</h2>

    <!-- Close Button -->
    <app-button type="white"
                size="sm"
                (clicked)="cancel()">
      <div content>
        <svg-icon src="assets/images/close.svg" class="display-flex"></svg-icon>
      </div>
    </app-button>
  </div>

  <!-- Bookmark Form -->
  <form>
    <input type="text"
           placeholder="Website Name...">
    <input type="text"
            placeholder="URL...">
    <!-- TODO: Add [disabled]="form.invalid" and [active]="!form.invalid" -->
    <app-button type="light"
                label="Add"
                [active]="true">
    </app-button>
  </form>
</a>