@import '~src/assets/styles/variables';
@import '~src/assets/styles/media-queries';

:host {
  display: block;
  width: 100%;

  input {
    background: $white;
  }

  form {
    align-items: flex-end;
    display: flex;
    padding: 8px; /* Inner padding */

    > * {
      margin: 8px; /* Outer margin, with previous keeps 16px spacings */
    }
  }
}

@include media-breakpoint-below(md) {
  form {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}