@import '~src/assets/styles/variables';
@import '~src/assets/styles/media-queries';

:host {
  display: block;
  width: 100%;

  // TODO: Extract card out into its own resuable component
  .card {
    background: $light;
    border-left: 12px solid $primary;
    border-radius: $border-radius;
    box-shadow: 4px 4px 8px rgba($black, .05);
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    .card-header {
      padding: 16px 16px 0 16px; /* Provide padding except below */
    }

    input {
      background: $white;
    }

    form {
      align-items: flex-end;
      display: flex;
      padding: 8px; /* Inner padding */

      > * {
        margin: 8px; /* Outer margin, with previous keeps 16px spacings */
      }
    }
  }
}

@include media-breakpoint-below(md) {
  form {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}