@import '~src/assets/styles/variables';
@import '~src/assets/styles/media-queries';

:host {
  display: block;
  width: 100%;

  .pagination-container {
    --margin: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: var(--margin); /* Inner padding */

    > * {
      margin: var(--margin); /* Outer margin, with previous keeps 16px spacings */
    }

    /* Apply margin transition on change */
    &,
    > * {
      transition: margin $transition-speed ease-in-out;
    }
  }
}

@include media-breakpoint-below(md) {
  .pagination-container {
    --margin: 2px; /* Reduce margin on smaller screens */
  }
}

@include media-breakpoint-below(xs) {
  .hide-xs-down {
    display: none; /* Hide back and forward buttons xs down */
  }
}
