<!-- Back -->
<app-button type="clear"
            [disabled]="current <= 0"
            (clicked)="previous()">
  <div content>
    <svg-icon src="assets/images/arrow-left.svg" class="display-flex"></svg-icon>
  </div>
</app-button>

<!-- Pages -->
<!-- TODO: Refactor how labels are disabled + limit to only show max of 5 including '...' -->
<app-button *ngFor="let item of [].constructor(total); index as i"
            type="clear"
            [label]="i + 1"
            [active]="current === i"
            (clicked)="setPage(i)">
</app-button>

<!-- Next -->
<app-button type="clear"
            [disabled]="current >= total - 1"
            (clicked)="next()">
  <div content>
    <svg-icon src="assets/images/arrow-right.svg" class="display-flex"></svg-icon>
  </div>
</app-button>