@import '~src/assets/styles/shared';

:host {
  display: block;

  // TODO: Extract card out into its own resuable component
  .card {
    --border-opacity: .5; /* Used to dynamically change border opacity */
    --box-shadow-opacity: .05; /* Used to dynamically change box-shadow opacity */
    --box-shadow-position: 2px; /* Used to dynamically change box-shadow top/left positions */
    align-items: center;
    border-left: 12px solid rgba($primary, var(--border-opacity));
    border-radius: $border-radius;
    box-shadow: var(--box-shadow-position) var(--box-shadow-position) 8px rgba($black, var(--box-shadow-opacity));
    color: inherit; /* Inherit colour to prevent default hyperlink colour */
    cursor: pointer;
    display: flex;
    height: 48px;
    justify-content: space-between;
    margin-bottom: 16px;
    outline: none; /* Remove default browser focus behaviour */
    padding: 0 16px;
    text-decoration: none; /* Remove default hyperlink decorations */

    .details {
      overflow: hidden; /* Hide content on overflow */

      > * {
        /* Show ellipsis on overflow */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .name {
        font-weight: bold;
      }

      .url {
        font-size: 12px;
        height: 0; /* Used to hide url */
        line-height: 16px;
        opacity: 0; /* Used to fade url in */
      }
    }

    .controls {
      opacity: .1;
    }

    &:hover,
    &:focus {
      --border-opacity: 1;
      --box-shadow-opacity: .1;
      --box-shadow-position: 4px;
      transform: translateY(-4px);

     .details .url {
        height: 16px; /* Transform url in */
        opacity: 1; /* Fade url in */
      }

      .controls {
        opacity: 1;
      }
    }
  }
}