<div class="card transition"
     [class.editing]="edit"
     (click)="navigateToUrl()"
     (keydown.enter)="navigateToUrl()"
     tabindex="0">
  <div class="card-body">
    <!-- Details -->
    <div class="details-container">
      <div class="name">{{ bookmark.name }}</div>
      <div class="url transition">{{ bookmark.url }}</div>
    </div>

    <!-- Controls -->
    <div class="controls-container transition">
      <!-- Toggle Favourite -->
      <!-- TODO: Extract favourite icon into its own reusable component -->
      <app-button type="clear"
                  (clicked)="toggleFavourite()"
                  [stopPropagation]="true"
                  [active]="bookmark.favourited"
                  tabIndex="-1">
        <div content>
          <svg-icon src="assets/images/favourite.svg" class="display-flex"></svg-icon>
        </div>
      </app-button>

      <!-- Toggle Edit -->
      <app-button type="clear"
                  (clicked)="toggleEdit()"
                  [active]="edit"
                  [stopPropagation]="true"
                  tabIndex="-1">
        <div content>
          <svg-icon src="assets/images/edit.svg" class="display-flex"></svg-icon>
        </div>
      </app-button>

      <!-- Delete -->
      <app-button type="clear"
                  (clicked)="delete()"
                  [stopPropagation]="true"
                  tabIndex="-1">
        <div content>
          <svg-icon src="assets/images/delete.svg" class="display-flex"></svg-icon>
        </div>
      </app-button>
    </div>
  </div>

  <!-- TODO: Animate *ngIf with accordion -->
  <div *ngIf="edit"
       class="card-footer">
    <app-bookmark-form [bookmark]="bookmark"></app-bookmark-form>
  </div>
</div>