<h1>bookmarks.</h1>
<div class="container">
  <div id="controls-container">
    <!-- Add new button -->
    <!-- TODO: Implement toggle to show and hude bookmark form
    <app-button type="light"
                (clicked)="addNew()">
      <div content>
        <svg-icon src="assets/images/add.svg" class="display-flex"></svg-icon>
      </div>
    </app-button> -->

    <!-- Search bar -->
    <app-search-bar placeholder="Search Bookmarks..."
                    (searchChanged)="onSearchChanged($event)">
    </app-search-bar>

    <!-- TODO: Implement <app-sort-by></app-sort-by> -->

    <!-- Filter by favourites -->
    <!-- TODO: Extract favourite icon into its own reusable component -->
    <app-button type="light"
                [active]="filterByFavourites"
                (clicked)="toggleFavourites()">
      <div content>
        <svg-icon src="assets/images/favourite.svg" class="display-flex"></svg-icon>
      </div>
    </app-button>

    <app-button type="danger"
                label="Delete All"
                (clicked)="deleteAll()">
    </app-button>
  </div>
  <div id="bookmarks-container">
    <app-bookmark-form></app-bookmark-form>

    <!-- Bookmarks -->
    <app-bookmarks [bookmarks]="bookmarks"></app-bookmarks>

    <!-- Pagination -->
    <app-pagination [total]="3"
                    [current]="1"></app-pagination>
  </div>
</div>