@import '~src/assets/styles/media-queries';

.container {
  padding: 0; /* Remove default padding */
}

#controls-container {
  display: flex;
  flex-direction: column;
  padding: 8px; /* Inner padding */
  width: 100%;

  > .row {
    display: flex;
    justify-content: flex-end; /* Align items to end */
    width: 100%;

    > * {
      margin: 8px; /* Outer margin, with previous keeps 16px spacings */
    }
  }

}

#bookmarks-container {
  padding: 0 16px;
  width: 100%;

  /* Center error message on page */
  .error {
    font-size: 14px;
    text-align: center;
  }
}

@include media-breakpoint-below(md) {
  #controls-container > .row {
    flex-wrap: wrap-reverse; /* Wrap content on smaller screens */
  }
}
