<div class="container">
  <h1>bookmarks.</h1>

  <!-- Controls container -->
  <div id="controls-container">
    <!-- Search bar -->
    <app-search-bar placeholder="Search Bookmarks..."
                    (searchChanged)="onSearchChanged($event)">
    </app-search-bar>

    <!-- TODO: Implement <app-sort-by></app-sort-by> -->

    <!-- Filter by favourites -->
    <!-- TODO: Extract favourite icon into its own reusable component -->
    <app-button type="light"
                [active]="filterByFavourites"
                (clicked)="toggleFavourites()">
      <div content>
        <svg-icon src="assets/images/favourite.svg" class="display-flex"></svg-icon>
      </div>
    </app-button>

    <app-button type="danger"
                label="Delete All"
                (clicked)="deleteAll()">
    </app-button>
  </div>

  <!-- Bookmarks form/list container -->
  <div id="bookmarks-container">
    <app-bookmark-form></app-bookmark-form>
    <app-bookmarks></app-bookmarks>
  </div>
</div>