<a class="bookmark transition"
   target="_blank"
   href="{{ bookmark.url }}"
   rel="noreferrer"
   tabindex="0">

  <!-- Details -->
  <div class="details">
    <span class="name">{{ bookmark.name }}</span>
    <div class="url transition">{{ bookmark.url }}</div>
  </div>

  <!-- Controls -->
  <div class="controls transition">
    <app-button type="clear"
                tabIndex="-1">
      <div content>
        <svg-icon src="assets/images/favourite.svg" class="display-flex"></svg-icon>
      </div>
    </app-button>
  </div>
</a>