@import '~src/assets/styles/shared';

:host {
  display: block;

  .bookmark {
    // Box shadow properties
    --position: 2px;
    --opacity: .05;
    border-left: 12px solid $primary;
    border-radius: $border-radius;
    box-shadow: var(--position) var(--position) 8px rgba($black, var(--opacity));
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    // Remove default browser focus behaviour
    outline: none;
    padding: 0 16px;

    // Show ellipsis on text overflow
    h4, .url {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .url {
      font-size: 12px;
      line-height: 16px;
      height: 0;
      opacity: 0;
    }

    &:hover, &:focus {
      // On active, transform bookmark up, and update box-shadow properties
      --position: 4px;
      --opacity: .1;
      transform: translateY(-4px);

     .url {
        height: 16px;
        opacity: 1;
      }
    }
  }
}