
/* Cards */
.card {
  --border-opacity: 1; /* Used to dynamically change border opacity */
  --box-shadow-opacity: .05; /* Used to dynamically change box-shadow opacity */
  --box-shadow-position: 4px; /* Used to dynamically change box-shadow top/left positions */
  background: $light;
  border-left: 12px solid rgba($primary, var(--border-opacity));
  border-radius: $border-radius;
  box-shadow: var(--box-shadow-position) var(--box-shadow-position) 8px rgba($black, var(--box-shadow-opacity));
  color: inherit; /* Inherit colour to prevent default hyperlink colour */
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  outline: none; /* Remove default browser focus behaviour */
  text-decoration: none; /* Remove default hyperlink decorations */
  transition: all $transition-speed ease-in-out;

  /* Card header */
  .card-header {
    padding: 16px 16px 0 16px; /* Provide padding except below, assumes content will include margin-bottom */
  }

  /* Card body */
  .card-body {
    background: $white;
    border-radius: 0 $border-radius $border-radius 0; /* Rounded corners top-right and bottom-right */
    padding: 0 16px;
  }

  /* If card has-click-event, update dynamic states to animate */
  &.has-click-event {
    --border-opacity: .5;
    --box-shadow-opacity: .05;
    --box-shadow-position: 2px;

    .card-body {
      cursor: pointer;
    }

    &:hover,
    &:focus {
      --border-opacity: 1;
      --box-shadow-opacity: .1;
      --box-shadow-position: 4px;
      transform: translateY(-4px); /* Show move up animation */
    }
  }
}