
/* Inputs */
input {
  background: $light;
  border-radius: $border-radius;
  border: 0; /* Remove default input border */
  color: $black;
  display: block;
  height: $input-size;
  outline: none; /* Remove default browser focus behaviour */
  padding: 0 16px;
  width: 100%;

  /* Update default placeholder text colour */
  &::placeholder {
    color: $dark;
    transition: color $transition-speed ease-in-out; /* Animate colour events */
  }

  &:hover,
  &:focus {
    &::placeholder {
      color: $black;
    }
  }
}
