
// Fonts
$roboto: 'Roboto', Helvetica, sans-serif;
$open-sans: 'Open Sans', Helvetica, sans-serif;

// App Theme
$primary: #4bd9a9;

// Whites / Blacks
$black: #000;
$dark:  #ababab;
$light: #f2f2f2;
$white: #fff;

// Other
$red:    #ff8585;
$purple: #b185ff;